:root {
    --red: #ed1c24;
    --green: #00a651;
    --blue: #7fd5ff;
    --cyan: #00aeef;
    --yellow: #fff200;
    --orange: #ff9f00;
    --magenta: #ec008c;
    --black: #000000;
    --transparent-black: rgba(0, 0, 0, 0.2);
    --white: #ffffff;
    --gray-1: #e6e7e8;
    --gray-2: #d1d3d4;
    --gray-3: #bcbec0;
    --gray-4: #a7a9ac;
    --gray-5: #939598;
    --gray-6: #808285;
    --gray-7: #6d6e71;
    --gray-8: #58595b;
    --gray-9: #414042;
    --gray-10: #231f20;
    --special-1: #7da3f4;
    --special-2: #a7c4f2;
    --special-gradient: linear-gradient(45deg, var(--special-1), var(--special-2));

    --stats-1: var(--black);
    --stats-2: var(--gray-10);
    --stats-3: var(--gray-9);
    --stats-4: var(--gray-8);

    --inline-padding: 3px 12px;
    --small-gap: 5px;
    --layout-gap: 10px;

    --base-font-size: 20px;
    --default-font-family: "Inter Tight", monospace;

    --radius: .25em;

    --time: .1s;
    --icon-filter: brightness(0);
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    :root {
        --red: #ed1c24;
        --green: #00a651;
        --blue: #2e3192;
        --cyan: #00aeef;
        --yellow: #9e9900;
        --orange: #ff9f00;
        --magenta: #ec008c;
        --black: #e6e7e8;
        --transparent-black: rgba(230, 231, 232, 0.2);
        --white: #0e0d0e;
        --gray-1: #1e1e1f;
        --gray-2: #2e2e2f;
        --gray-3: #48494b;
        --gray-4: #6d6e71;
        --gray-5: #808285;
        --gray-6: #939598;
        --gray-7: #a7a9ac;
        --gray-8: #bcbec0;
        --gray-9: #d1d3d4;
        --gray-10: #ffffff;
        --special-1: #0d102e;
        --special-2: #1a1d35;
        --icon-filter: brightness(0) invert(1);
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' -25,
    'opsz' 22;
    font-family: 'Material Symbols Outlined';
    font-size: 1.1em !important;
    line-height: 1.2;
}

.icon-image {
    height: 1em;
    width: 1em;
    object-fit: contain;
    filter: var(--icon-filter);
}

a {
    color: inherit;
    text-decoration: none;
}

.flex, .flex-v {
    display: flex;
    gap: var(--layout-gap);
    flex-wrap: wrap;
    position: relative;
}

.flex-v {
    flex-direction: column;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    max-height: 100dvh;
    max-width: 100dvw;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: var(--default-font-family);
    font-size: var(--base-font-size);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#content {
    height: 100dvh;
    width: 800px;
    max-width: 100dvw;
    margin: auto;
    padding-top: 5dvh;
}

.hidden {
    display: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    border-right: .5em solid var(--orange);
    padding-right: .2em;
    line-height: 1;
}

h1 span {
    margin-left: auto;
}

h2 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: .5em;
}

h3, h4, h5, h6 {
    font-size: 1.5rem;
    font-weight: 500;
}

b, .bold {
    font-weight: bold;
}

.container {
    padding: var(--layout-gap);
    background: var(--white);
    max-height: 100%;
    flex-wrap: nowrap;
    border-radius: var(--radius);
}

.restrict-height {
    max-height: 100%;
}

.overflow {
    overflow: auto;
}

.border {
    border: 1px solid var(--black);
}

.layer-1 {
    background: var(--white);
}

.layer-2 {
    background: var(--gray-1);
}

.layer-3 {
    background: var(--gray-2);
}

.align-children {
    align-items: center;
}

button.positive, .button.positive {
    background: var(--green);
    color: var(--white);
}

button.positive:hover, .button.positive:hover {
    color: var(--black);
}

button.negative, .button.negative {
    background: var(--red);
}

button.active, .button.active {
    background: var(--blue);
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: max-content;
}

.space-between {
    justify-content: space-between;
}

.small-gap {
    gap: var(--small-gap);
}

.no-gap {
    gap: 0;
}

.no-flex-wrap {
    flex-wrap: nowrap;
}

.flex-grow {
    flex-grow: 1;
}

.link-container {
    padding: 2px 4px 2px 8px;
    background: var(--gray-1);
    max-width: max-content;
    cursor: pointer;
    transition: transform var(--time) ease;
    --distance: 2px;
}

.link-container:hover {
    filter: invert(1);
    transform: translateX(var(--distance)) translateY(calc(-1 * var(--distance)));
    box-shadow: calc(-1 * var(--distance)) var(--distance) 5px 0 var(--gray-5);
}

.line {
    border-bottom: 1px solid var(--gray-6);
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .break-small {
        flex-direction: column;
        gap: 0;
    }
}

.dot {
    --size: 3px;
    width: var(--size);
    height: var(--size);
    background: var(--black);
    margin: .25em 0;
}

.employment {
    padding-left: .7em;
    border-left: 3px solid var(--black);
}

.secondary {
    color: var(--gray-6);
}